@using devPMS.Web.CustomMembership

@{
    var identity = (HttpContext.Current.User as CusPrincipal).Identity as CusIdentity;
}

<div class="col-md-3 left_col menu_fixed">
    <div class="left_col scroll-view">
        <div class="navbar nav_title" style="border: 0;">
            <a href="index.html" class="site_title"><i class="fa fa-paw"></i> <span>PMS</span></a>
        </div>

        <div class="clearfix"></div>

        <!-- menu profile quick info -->
        <div class="profile">
            <div class="profile_pic">
                <img src="/images/myPic.jpg" alt="..." class="img-circle profile_img">
            </div>
            <div class="profile_info">
                <span>Welcome,</span>
                <h2>@identity.User.FullName</h2>
            </div>
        </div>
        <!-- /menu profile quick info -->

        <br />

        <!-- sidebar menu -->
        @Html.Partial("_SidebarMenu")
        <!-- /sidebar menu -->
        <!-- /menu footer buttons -->
        @Html.Partial("_MenuFooterButtons")
        <!-- /menu footer buttons -->
    </div>
</div>
