<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IGeneralService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://105vm-w764-sql-ddo/SSTVN/GeneralService/GeneralService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IGeneralService"
                contract="myServiceReference.IGeneralService" name="BasicHttpBinding_IGeneralService" />
        </client>
    </system.serviceModel>
</configuration>