<div class="col-md-6 col-md-push-3 mode2 ">
    <h3 class="StepTitle"> People</h3>
    <!-- step content -->
    <div class="item form-group">
        <label class="control-label">Requested By <span style="color:red; display:inline-block"> * </span></label>
        <span class="fa fa-fw fa-gg pull-right" data-toggle="tooltip" data-placement="right" data-original-title="Tooltip for this field"></span>
        <input maxlength="50" type="text" required="required" id="RequestedBy" name="RequestedBy" class="form-control" />
    </div>
    <div class="item form-group">
        <label class="control-label">Reviewed By <span style="color:red; display:inline-block"> * </span></label>
        <span class="fa fa-fw fa-gg pull-right" data-toggle="tooltip" data-placement="right" data-original-title="Tooltip for this field"></span>
        <input maxlength="50" type="text" required="required" id="ReviewedBy" name="ReviewedBy" class="form-control" />
    </div>
    <div class="form-group">
        <label class="control-label">Simpson/ES contact <span style="color:red; display:inline-block"> * </span></label>
        <span class="fa fa-fw fa-gg pull-right" data-toggle="tooltip" data-placement="right" data-original-title="Tooltip for this field"></span>
        <input maxlength="50" type="text" required="required" id="SimpsonContact" name="SimpsonContact" class="form-control" />
    </div>
</div>