@model ProjectReferenceData

<div class="col-md-6 col-md-push-3 mode2">
    <h3> General Info</h3>
    <!-- step content -->
    <!-- project name -->
    <div class="item form-group">
        <label class="control-label">Project Name <span style="color:red; display:inline-block"> * </span></label>
        <span class="fa fa-fw fa-gg pull-right" data-toggle="tooltip" data-placement="right" data-original-title="Tooltip for this field"></span>
        <input type="text" class="form-control" placeholder="Name a project" data-minlength="6" data-match-error="Whoops, something wrong" name="ProjectName"  id="ProjectName"  required/>
    </div>

    <div class="item form-group">
        <label class="control-label">Type <span style="color:red; display:inline-block"> * </span></label>
        <span class="fa fa-fw fa-gg pull-right" data-toggle="tooltip" data-placement="right" data-original-title="Tooltip for this field"></span>
        @*<input maxlength="100" type="text" required="required" id="DescriptionOfService" name="DescriptionOfService" list="TypeList" class="form-control" placeholder="Select type of project" />*@
        @Html.DropDownList("ScopeTypeId", Model.ScopeTypeList, new { @class = "form-control select2", @style = "width: 100%"})
    </div>
    <div class="item form-group">
        <label class="control-label">Branch <span style="color:red; display:inline-block"> *  </span></label>
        <span class="fa fa-fw fa-gg pull-right" data-toggle="tooltip" data-placement="right" data-original-title="Tooltip for this field"></span>
        @*<input maxlength="100" type="text" required="required" data-validate-length-range="1,10" id="Branch" name="Branch" list="BranchList" class="form-control" placeholder="Select branch" />*@
        @Html.DropDownList("Branch", Model.BranchList, new { @class = "form-control select2", @style = "width: 100%" })
    </div>

    @*<datalist id="TypeList"></datalist>
    <datalist id="BranchList">
        <option> 291</option>
        <option> 29</option>
    </datalist>*@
</div>
<script>
    $("#ScopeTypeId").select2();
    $("#Branch").select2();
</script>
