<div class="col-md-6 col-md-push-3 mode2 ">
    <h3 class="StepTitle"> Date</h3>
    <!-- step content -->
    @*<div class="item form-group">
            <label class="control-label">Log Date *</label>
            <input id="logdate" type="date" class="date-picker form-control date " name="LogDate" required="required" />
        </div>*@
    <div class="item form-group">
        <label class="control-label">Simpson Due Date <span style="color:red; display:inline-block"> * </span></label>
        <span class="fa fa-fw fa-gg pull-right" data-toggle="tooltip" data-placement="right" data-original-title="Tooltip for this field"></span>
        <input id="duedate" type="date" class="date-picker form-control date " name="DueDate" required="required" />
    </div>
    @*<div class="form-group">

        <label>
            <span>Assign to VietNam</span>
            <label><input type="checkbox" id="vncheck" /> </label>
        </label>
    </div>

    <div class="form-group" id="vntime" style="display:none">
        <label class="control-label ">VietNam Due Date</label>
        <input id="VNDueDate" class="date-picker form-control " required="required" name="VNDueDate" type="date">
    </div>*@
</div>