@model  devPMS.Web.Models.ProjectInfoViewModel
@using (Html.BeginForm("_WizardProject", "Project", FormMethod.Post, new { @id = "_WizardProjectForm" }))
{
    @*<input maxlength="100" type="hidden" required="required" id="DescriptionOfServiceID" name="DescriptionOfServiceID" class="form-control" />*@
    @Html.HiddenFor(m => m.ScopeId)
    <div id="wizardContainer"></div>
}

<div id="wizard_template" style="display:none">
    <ul class="wizard_steps">
        <li><a href="#step-1">Step 1<br /><small>General Info</small></a></li>
        <li><a href="#step-2">Step 2<br /><small>Description</small></a></li>
        <li><a href="#step-3">Step 3<br /><small>Project Data</small></a></li>
        <li><a href="#step-4">Step 4<br /><small>People Info</small></a></li>
        <li><a href="#step-5">Step 5<br /><small>Deadline Info</small></a></li>
    </ul>
    <div>
        <div id="step-1" class="row setup-content">
            Step Content
        </div>
        <div id="step-2" style="min-height:600px">
            Step Content
        </div>
        <div id="step-3" class="row setup-content">
            Step Content
        </div>
        <div id="step-4" class="row setup-content">
            Step Content
        </div>
        <div id="step-5" class="row setup-content">
            Step Content
        </div>
    </div>
</div>