<div class="col-md-6 col-md-push-3">
    <h3 class="StepTitle"> Project data </h3>
    <!-- step content -->
    <div class="form-group">
        <label class="control-label">Project Engineer(EOR)</label>
        <input maxlength="100" type="text" name="EOR" data-validate-length-range="1,50" class="form-control" />
    </div>
    <div class="form-group">
        <label class="control-label">Project Address</label>
        <input maxlength="100" type="text" name="ProjectAddress" class="form-control" />
    </div>
    <div class="form-group">
        <label class="control-label">Project City</label>
        <input maxlength="100" type="text" name="ProjectCity" data-validate-length-range="1,150" class="form-control" />
    </div>
    <div class="form-group">
        <label class="control-label">Project State</label>
        <input maxlength="100" type="text" name="ProjectState" data-validate-length-range="1,50" class="form-control" />
    </div>
    <div class="form-group">
        <label class="control-label">Project Zip code</label>
        <input maxlength="100" type="text" name="ProjectZipCode" data-validate-length-range="1,50" class="form-control" />
    </div>
    <div class="form-group">
        <label class="control-label">Project Drawing Date</label>
        <input maxlength="100" type="text" name="ProjectDrawingDate" class="form-control" />
    </div>
    <div class="form-group">
        <label class="control-label">Project Contractor</label>
        <input maxlength="100" type="text" name="ProjectContractor" data-validate-length-range="1,50" class="form-control" />
    </div>
    <div class="form-group">
        <label class="control-label">Quote</label>
        <input maxlength="100" type="text" name="Quote" class="form-control" />
    </div>
    <div class="form-group">
        <label class="control-label">CP</label>
        <input maxlength="100" type="text" name="CP" class="form-control" />
    </div>
</div>
