
@{
    ViewBag.Title = "ComingSoon";
    Layout = "~/Views/Shared/_LayoutLTE.cshtml";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Title
        <small>it all starts here</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Project</a></li>
        <li class="active"> Filter</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <!-- Wizard -->
    <div class="box box-primary" id="wizardform">
        <div class="box-header with-border">
            <h3 class="box-title" id="wizard-title">Title</h3>

            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse">
                    <i id="wizardpanelicon" class="fa fa-minus"></i>
                </button>
            </div>
        </div>
        <div class="box-body ">
            Coming Soon
        </div>
    </div>
    <!-- /.Wizard -->
</section>