@{
    ViewBag.Title = "TestPage";
}

@section MoreStyles{
    <!-- Creative-->
    <link href="~/vendors/creative/css/creative.min.css" rel="stylesheet">
}
<div class="">
    <div class="page-title">
        <div class="title_left">
            <h3>Plain Page</h3>
        </div>

        <div class="title_right">
            <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for...">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">Go!</button>
                    </span>
                </div>
            </div>
        </div>
    </div>

    <div class="clearfix"></div>

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Plain Page</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    <a href="#">Settings 1</a>
                                </li>
                                <li>
                                    <a href="#">Settings 2</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">

                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="pricing">
                            <div class="title">
                                <h2>Regression Test Service</h2>
                            </div>
                            <div class="x_content">

                                <div class="pricing_features">
                                    <ul class="list-unstyled text-left">
                                        <li href="~/images/2.jpg" class="portfolio-box">
                                            <img src="~/images/2.jpg" class="img-responsive" alt="">
                                            <div class="portfolio-box-caption">
                                                <div class="portfolio-box-caption-content">
                                                    <div class="project-category text-faded">
                                                        <a href="#"><span class="fa fa-star"></span></a>
                                                        <a href="#"><span class="fa fa-star"></span></a>
                                                        <a href="#"><span class="fa fa-star"></span></a>
                                                        <a href="#"><span class="fa fa-star"></span></a>
                                                        <a href="#"><span class="fa fa-star-o"></span></a>
                                                    </div>
                                                    <div class="project-name">
                                                        Project Name
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>

                                <div class="pricing_footer">
                                    <a href="javascript:void(0);" class="btn btn-success btn-block" role="button">Go now!</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- price element -->
                    <!-- price element -->
                    <div class="col-md-4 col-sm-6 col-xs-12 ">
                        <div class="pricing ui-ribbon-container">
                            <div class="ui-ribbon-wrapper">
                                <div class="ui-ribbon">
                                    30% Off
                                </div>
                            </div>
                            <div class="title">
                                <h2>UBT Test Service</h2>
                            </div>
                            <div class="x_content">
                                <div class="">
                                    <div class="pricing_features">
                                        <div class=" col-xs-5 text-center">
                                            <img src="~/images/user.png" alt="" class="img-circle img-responsive">
                                        </div>

                                        <ul class="list-unstyled text-left">

                                            <li><i class="fa fa-check text-success"></i> Replay <strong>scripts</strong></li>
                                            <li><i class="fa fa-check text-success"></i> Backwards <strong>Compatibility</strong> </li>
                                            <li><i class="fa fa-check text-success"></i> <strong>Requirement</strong> development</li>
                                            <li><i class="fa fa-check text-success"></i> <strong>Design</strong></li>
                                            <li><i class="fa fa-check text-success"></i> Component Review</li>
                                            <li class="ratings">

                                                <a href="#"><span class="fa fa-star"></span></a>
                                                <a href="#"><span class="fa fa-star"></span></a>
                                                <a href="#"><span class="fa fa-star"></span></a>
                                                <a href="#"><span class="fa fa-star"></span></a>
                                                <a href="#"><span class="fa fa-star-o"></span></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="pricing_footer">
                                    <a href="javascript:void(0);" class="btn btn-success btn-block" role="button">Go now!</a>
                                    <div class="col-xs-12 col-sm-6 emphasis">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- price element -->
                    <!-- price element -->
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="pricing">
                            <div class="title">
                                <h2>Engineering Test</h2>
                            </div>

                            <div class="x_content">
                                <div class="">
                                    <div class=" col-xs-5 text-center">
                                        <img src="~/images/user.png" alt="" class="img-circle img-responsive">
                                    </div>
                                    <div class="pricing_features">
                                        <ul class="list-unstyled text-left">
                                            <li><i class="fa fa-check text-success"></i> Assert comparision</li>
                                            <li><i class="fa fa-check text-success"></i> Testbank prepration </li>
                                            <li><i class="fa fa-check text-success"></i> Test Case Creation</li>
                                            <li><i class="fa fa-check text-success"></i> Engineer Based Testing</li>
                                            <li><i class="fa fa-check text-success"></i> Bug Verification</li>
                                            <li class="ratings">

                                                <a href="#"><span class="fa fa-star"></span></a>
                                                <a href="#"><span class="fa fa-star"></span></a>
                                                <a href="#"><span class="fa fa-star"></span></a>
                                                <a href="#"><span class="fa fa-star"></span></a>
                                                <a href="#"><span class="fa fa-star-o"></span></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="pricing_footer">
                                    <a href="javascript:void(0);" class="btn btn-success btn-block" role="button">Go now!</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- price element -->
                    <!-- price element -->
                </div>
            </div>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Plain Page</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    <a href="#">Settings 1</a>
                                </li>
                                <li>
                                    <a href="#">Settings 2</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <section class="" id="portfolio">
                        <div class="container-fluid">
                            <div class="row no-gutter popup-gallery">
                                <div class="col-lg-4 col-sm-6">
                                    <a href="~/images/1.jpg" class="portfolio-box" data-toggle="modal" data-target="#myModal">
                                        <img src="~/images/1.jpg" class="img-responsive" alt="">
                                        <div class="portfolio-box-caption">
                                            <div class="portfolio-box-caption-content">
                                                <div class="project-category text-faded">
                                                    Category
                                                </div>
                                                <div class="project-name">
                                                    Project Name
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-lg-4 col-sm-6">
                                    <a href="~/images/2.jpg" class="portfolio-box">
                                        <img src="~/images/2.jpg" class="img-responsive" alt="">
                                        <div class="portfolio-box-caption">
                                            <div class="portfolio-box-caption-content">
                                                <div class="project-category text-faded">
                                                    Category
                                                </div>
                                                <div class="project-name">
                                                    Project Name
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-lg-4 col-sm-6">
                                    <a href="~/images/3.jpg" class="portfolio-box">
                                        <img src="~/images/3.jpg" class="img-responsive" alt="">
                                        <div class="portfolio-box-caption">
                                            <div class="portfolio-box-caption-content">
                                                <div class="project-category text-faded">
                                                    Category
                                                </div>
                                                <div class="project-name">
                                                    Project Name
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-lg-4 col-sm-6">
                                    <a href="~/images/4.jpg" class="portfolio-box">
                                        <img src="~/images/4.jpg" class="img-responsive" alt="">
                                        <div class="portfolio-box-caption">
                                            <div class="portfolio-box-caption-content">
                                                <div class="project-category text-faded">
                                                    Category
                                                </div>
                                                <div class="project-name">
                                                    Project Name
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-lg-4 col-sm-6">
                                    <a href="~/images/5.jpg" class="portfolio-box">
                                        <img src="~/images/5.jpg" class="img-responsive" alt="">
                                        <div class="portfolio-box-caption">
                                            <div class="portfolio-box-caption-content">
                                                <div class="project-category text-faded">
                                                    Category
                                                </div>
                                                <div class="project-name">
                                                    Project Name
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-lg-4 col-sm-6">
                                    <a href="~/images/6.jpg" class="portfolio-box">
                                        <img src="~/images/6.jpg" class=" img-responsive" alt="">
                                        <div class="portfolio-box-caption">
                                            <div class="portfolio-box-caption-content">
                                                <div class="project-category text-faded">
                                                    Category
                                                </div>
                                                <div class="project-name">
                                                    Project Name
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </section>

                    <!-- Button trigger modal -->
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $('#myModal').on('shown.bs.modal', function () {
        $('#myInput').focus()
    })
</script>


@section scripts{
    <!-- Creative-->
    <script src="~/vendors/creative/js/creative.min.js"></script>
}