@model devPMS.Web.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot your password?";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

@using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h1>Forgot Password?</h1>
    @Html.ValidationSummary(true, "", new { @class = "products-list text-danger" })
    <div class="item form-group">
        <input type="email" class="form-control" placeholder="Email" required="required" id="Email" name="Email" />
    </div>
    <div>
        @*<a class="btn btn-default submit" href="index.html">Log in</a>*@
        <input type="submit" class="btn btn-default submit" value="Send Email" />
        <a class="reset_pass" href="@Url.Action("Login", "Account")">Back to Sign In</a>
    </div>
}
@section scripts{
    <!-- validator -->
    <script src="~/vendors/validator/validator.js"></script>
}