@{
    ViewBag.Title = "Forgot Password Confirmation";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<div>
    <p>
        Please check your email to reset your password. @Html.ActionLink("Back to Sign In!", "Login", "Account")
    </p>
</div>
	
