@{
    ViewBag.Title = "Forgot Password Confirmation";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<div>
    <p>
        Your password has been reset. @Html.ActionLink("Click here to Sign In!", "Login", "Account")
    </p>
</div>
	
